In [3]:
import pandas as pd
import numpy as np

In [4]:
# Download dataset 
# Dataset Description - Summary information and metrics for Airbnb listings in New_York - 2025-10-01
!wget https://data.insideairbnb.com/united-states/ny/new-york-city/2025-10-01/visualisations/listings.csv -O nyc_listings.csv

--2025-11-09 23:40:49--  https://data.insideairbnb.com/united-states/ny/new-york-city/2025-10-01/visualisations/listings.csv
Resolving data.insideairbnb.com (data.insideairbnb.com)... 3.164.206.7, 3.164.206.19, 3.164.206.100, ...
Connecting to data.insideairbnb.com (data.insideairbnb.com)|3.164.206.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5688892 (5.4M) [application/csv]
Saving to: ‘nyc_listings.csv’

nyc_listings.csv    100%[===================>]   5.42M  11.6MB/s    in 0.5s

2025-11-09 23:40:50 (11.6 MB/s) - ‘nyc_listings.csv’ saved [5688892/5688892]

1. Data Loading and Initial Exploration
- Load the dataset using Pandas.
- Display basic information (.info(), .describe(), .head()).
- Check for missing values, duplicated rows, and unusual data types.

In [5]:
# Load the dataset
df = pd.read_csv('nyc_listings.csv')

In [89]:
# View the first five rows 
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.78778,-73.94759,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN
5,7097,"Perfect for Your Parents, With Garden & Patio",17571,Jane,Brooklyn,Fort Greene,40.69194,-73.97389,Private room,216.0,2,423,2025-09-23,2.21,2,0,38,OSE-STRREG-0000008

In [91]:
# Initial Info (Column types and non-null counts)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21328 entries, 0 to 36109
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              21328 non-null  int64
 1   name                            21328 non-null  object
 2   host_id                         21328 non-null  int64
 3   host_name                       20284 non-null  object
 4   neighbourhood_group             21328 non-null  object
 5   neighbourhood                   21328 non-null  object
 6   latitude                        21328 non-null  float64
 7   longitude                       21328 non-null  float64
 8   room_type                       21328 non-null  object
 9   price                           21328 non-null  float64
 10  minimum_nights                  21328 non-null  int64
 11  number_of_reviews               21328 non-null  int64
 12  last_review                     14944 non-null  object
 13  reviews_per_month               14944 non-null  float64
 14  calculated_host_listings_count  21328 non-null  int64
 15  availability_365                21328 non-null  int64
 16  number_of_reviews_ltm           21328 non-null  int64
 17  license                         4252 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 3.1+ MB

In [90]:
# Initial Description (Summary statistics) including non-numeric columns
df.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,2.132800e+04,21328,2.132800e+04,20284,21328,21328,21328.000000,21328.000000,21328,21328.000000,21328.000000,21328.000000,14944,14944.000000,21328.000000,21328.000000,21328.000000,4252
unique,NaN,20429,NaN,5187,5,223,NaN,NaN,4,NaN,NaN,NaN,1812,NaN,NaN,NaN,NaN,1852
top,NaN,45 West 81st Studio,NaN,Eugene,Manhattan,Bedford-Stuyvesant,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2025-09-28,NaN,NaN,NaN,NaN,Exempt
freq,NaN,20,NaN,385,9381,1575,NaN,NaN,11985,NaN,NaN,NaN,289,NaN,NaN,NaN,NaN,2115
mean,6.514061e+17,NaN,2.142934e+08,NaN,NaN,NaN,40.727018,-73.944055,NaN,680.526819,26.554717,36.664291,NaN,1.153395,93.060296,251.044120,6.336834,NaN
std,5.521741e+17,NaN,2.072883e+08,NaN,NaN,NaN,0.058734,0.060404,NaN,4480.453282,23.393954,85.230123,NaN,2.333030,257.304190,106.941151,24.783171,NaN
min,2.595000e+03,NaN,1.678000e+03,NaN,NaN,NaN,40.500366,-74.251907,NaN,10.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000,0.000000,NaN
25%,4.299809e+07,NaN,2.584300e+07,NaN,NaN,NaN,40.685195,-73.983262,NaN,89.000000,30.000000,0.000000,NaN,0.170000,1.000000,172.000000,0.000000,NaN
50%,7.678767e+17,NaN,1.264765e+08,NaN,NaN,NaN,40.726895,-73.953500,NaN,154.000000,30.000000,5.000000,NaN,0.460000,3.000000,276.000000,0.000000,NaN
75%,1.133205e+18,NaN,4.158407e+08,NaN,NaN,NaN,40.763037,-73.922741,NaN,279.000000,30.000000,38.000000,NaN,1.430000,20.000000,347.000000,3.000000,NaN
max,1.521847e+18,NaN,7.214431e+08,NaN,NaN,NaN,40.912017,-73.711822,NaN,50104.000000,729.000000,3736.000000,NaN,122.760000,1148.000000,365.000000,1699.000000,NaN

In [92]:
# Check for missing values
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                          1044
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        6384
reviews_per_month                  6384
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           17076
dtype: int64

In [49]:
# Check for duplicated rows
print(f"Number of duplicated rows: {df.duplicated().sum()}")

Number of duplicated rows: 0

In [51]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

2. Data Cleaning
- Convert price fields (e.g., "$2,100.00") to float.
- Parse dates (e.g., last_review) into datetime objects.
- Handle missing values in critical fields like reviews_per_month, host_name, and neighbourhood_group.
- Remove irrelevant rows (e.g., listings with zero availability or price).

In [12]:
# Create a copy of df as working dataset.
df_clean = df.copy()

In [94]:
# Convert 'price' fields (e.g., "$2,100.00") to float
df_clean['price'] = (
    df_clean['price'] \
        .astype(float) \
        .replace('[\$,]', '', regex=True)
)

df_clean.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
license                                   object
price_per_booking                        float64
availability_bucket                       object
dtype: object

In [64]:
# Parse dates (e.g., last_review) into datetime objects.
df_clean['last_review'] = pd.to_datetime(df_clean['last_review'], errors='coerce')

df_clean.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
license                                   object
price_per_booking                        float64
availability_bucket                       object
dtype: object

In [65]:
# Handle missing values in critical fields like reviews_per_month, host_name, and neighbourhood_group.
# Fill with a constant value
df_clean['reviews_per_month'] = df_clean['reviews_per_month'].fillna(0)
df_clean['host_name'] = df_clean['host_name'].fillna('Unknown')
df_clean['neighbourhood_group'] = df_clean['neighbourhood_group'].fillna('Other')
df_clean['name'] = df_clean['name'].fillna('Unnamed Listing')
df_clean.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking,availability_bucket
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN,8.00,Part_time
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN,3.20,Part_time
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN,1.97,Rare
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.787780,-73.947590,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN,2.43,Part_time
7,8490,"Maison des Sirenes1,bohemian, luminous apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.684556,-73.939634,Entire home/apt,170.0,30,189,2023-10-16,0.96,2,275,0,NaN,5.67,Part_time

In [95]:
# Remove irrelevant rows (e.g., listings with zero availability or price).

initial_rows = len(df_clean)

df.dropna(subset=['price'], inplace=True)

df_clean = df_clean[
    (df_clean['price'] > 0) &
    (df_clean['availability_365'] > 0)
]

rows_removed = initial_rows - len(df_clean)

print(f'Initial rows: {initial_rows}')
print(f'Final rows after cleaning: {len(df)}')
print(f"Rows dropped (NaN price, price=0, or availability=0): {rows_removed}")

Initial rows: 21157
Final rows after cleaning: 21328
Rows dropped (NaN price, price=0, or availability=0): 0

3. Data Enrichment
- Create a price_per_booking column using price and minimum_nights.
- Bucket availability into categories:
  - Full-time (availability > 300)
  - Part-time (100–300)
  - Rare (<100)

In [17]:
# Create a price_per_booking column using price and minimum_nights.
df_clean['price_per_booking'] = (
    df_clean['price'] / df_clean['minimum_nights']
    ).round(2)

df_clean.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN,8.00
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN,3.20
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN,1.97
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.787780,-73.947590,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN,2.43
7,8490,"Maison des Sirenes1,bohemian, luminous apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.684556,-73.939634,Entire home/apt,170.0,30,189,2023-10-16,0.96,2,275,0,NaN,5.67

In [18]:
#- Bucket availability into categories:
# - Full-time (availability > 300)
#- Part-time (100–300)
#- Rare (<100)

def categorize(availability_365):
    if availability_365 > 300:
        return 'Full-time'
    elif 100 <= availability_365 <= 300:
        return 'Part_time'
    else:
        return 'Rare '

df_clean['availability_bucket'] = df_clean['availability_365'].apply(categorize)
df_clean.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking,availability_bucket
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN,8.00,Part_time
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN,3.20,Part_time
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN,1.97,Rare
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.787780,-73.947590,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN,2.43,Part_time
7,8490,"Maison des Sirenes1,bohemian, luminous apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.684556,-73.939634,Entire home/apt,170.0,30,189,2023-10-16,0.96,2,275,0,NaN,5.67,Part_time

In [19]:
import os
os.makedirs("data", exist_ok=True)
df_clean.to_csv("data/nyc_cleaned.csv", index=False)

4. Data Analysis Using Pandas. *Answer the following using Pandas:
- What are the top 10 most expensive neighborhoods by average price?
- What’s the average availability and price by room type?
- Which host has the most listings?
- How does average price vary across different boroughs or districts?
- How many listings have never been reviewed?
- Write a summary of 3–5 key insights you found through your analysis

In [100]:
# What are the top 10 most expensive neighborhoods by average price?
top_neighborhood = df_clean.groupby('neighbourhood') \
    .agg(avg_price = ('price', 'mean'), count=('price', 'count')) \
    .round(2) \
    .sort_values(by='avg_price', ascending=False) \
    .head(10) \
    .reset_index()

print("Top 10 most expensive neighborhoods by average_price: \n")
top_neighborhood
#print(top_neighborhood.to_markdown(index=False))

Top 10 most expensive neighborhoods by average_price:

      neighbourhood  avg_price  count
0              SoHo    3418.54    134
1  Long Island City    2751.11    254
2       Murray Hill    2359.19    324
3   Lower East Side    2213.08    323
4           Midtown    2168.86   1284
5   Upper West Side    1894.17    827
6            Nolita    1796.10     96
7         Chinatown    1684.53    149
8    Hell's Kitchen    1577.62    966
9   Upper East Side    1145.28    924

In [104]:
# What’s the average availability and price by room type?
room_type_stats = df_clean.groupby('room_type', as_index=False) \
    .agg(avg_price = ('price', 'mean'), avg_availability = ('availability_365', 'mean')) \
    .round(2) 

print("Average availability and price by room type: \n")
room_type_stats
#print(room_type_stats.to_markdown(index=False))

Average availability and price by room type:

         room_type  avg_price  avg_availability
0  Entire home/apt     307.16            254.49
1       Hotel room   36431.21            293.67
2     Private room     231.42            249.53
3      Shared room     141.04            282.03

In [105]:
# Which host has the most listings?
most_listings = df_clean.groupby(['host_id', 'host_name'], as_index=False) \
    .agg(qty = ('id',"count")) \
    .sort_values(by="qty", ascending=False) \
    .head(1)

print('Host with the most listings: \n')
most_listings
#print(most_listings.to_markdown(index=False))

Host with the most listings:

        host_id host_name   qty
5198  107434423   Unknown  1019

In [106]:
# How does average price vary across different boroughs or districts?
borough_price = df_clean.groupby('neighbourhood_group') \
    .agg(avg_price = ("price", "mean"), qty = ("price", "count")) \
    .sort_values(by="avg_price", ascending=False) \
    .reset_index()

print("Average price by borough (neighbourhood_group): \n")
borough_price
#print(borough_price.to_markdown(index=False))

Average price by borough (neighbourhood_group):

  neighbourhood_group    avg_price   qty
0           Manhattan  1182.954830  9276
1              Queens   334.952727  3300
2            Brooklyn   247.781598  7445
3               Bronx   130.626667   825
4       Staten Island   125.556270   311

In [86]:
# How many listings have never been reviewed?
never_reviewed = df_clean[df_clean['number_of_reviews'] == 0] \
    .shape[0]# count number of rows

print(f"The number of listings that have never been reviewed: {never_reviewed}")

The number of listings that have never been reviewed: 6343

# Write a summary of 3–5 key insights you found through your analysis

1. **Manhattan borough** is the most premium area for Airbnb listings with an average price of **$1,182.95.**

2. There is a **High Rate of Unreviewed Listings** with approximately 30% (6,343 listings) of the active listings having no reviews. This suggests that a large number of listings are potentially new, non-operational, or have a very low booking rate.

3. The SoHo neighborhood, with an average price of **$3,418.54**, is an extreme outlier among neighborhoods, which aligns with the overall high average price in Manhattan.

4. The host with the last largest portfolio has **1,019**m active listings.

5. Price is strongly correlated with both the type of accommodation and its location

In [107]:
# Full dataset shape (rows, column)
print(df.shape)

(21328, 18)

In [108]:
# Full cleaned dataset shape (rows, columns)
print(df_clean.shape)

(21157, 20)